@import "tailwindcss";
html, body{
  /* width: 100vw;
  height: 100vh; */
  overflow-x: hidden;
}
.swiper-button-next, .swiper-button-prev{
  @apply !text-orange-500 hover:!text-orange-400 !p-2
}
.swiper-button-prev{
  @apply !left-5
}
.swiper-button-next{
  @apply !right-5
}
#testimonials .swiper-button-prev {
  @apply !left-[-10px]
}
#testimonials .swiper-button-next {
  @apply !right-[-10px]
}

@media (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

@media (max-width:768px) {
    .swiper-button-prev{
      @apply !left-[-10px]
    }
    .swiper-button-next{
      @apply !right-[-10px]
    }
}
.swiper-pagination-bullet{
  @apply !bg-white !opacity-100
}
.swiper-pagination-bullet-active {
  @apply !bg-orange-500 !opacity-100;
}